body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nextButton {
  margin-left: 2rem;
}

.highlight {
  background-color: lightgray;
}

.circle {
  width: 36;
  height: 36;
  border-radius: 18;
  background-color: 'red';
 }

 .count {
   color:'#FFF'
  }

  .inline {
    display: flex;
    flex-direction: row;
  }
